<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div>
        <h1 class="title"></h1>
      </div>
    </div>
    <div class="container">
      <div class="alert alert-warning alert-dismissable fade in" style="display: <%= full %>;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Attention !</strong> Le salon au quel vous tentez d'accéder est plein
      </div>
      <div class="row">
        <div>
          <form class="form-horizontal" id="form_user" autocomplete="off">
            <div class="form-group">
              <label class="control-label col-sm-1">Pseudo</label>
              <div class="col-sm-10">
                <input id="pseudo" class="form-control" type="text" ="Saisissez un pseudo" size="20"></input>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-1">Salon</label>
              <div class="col-sm-10">
              <select id="listRooms" class="form-control" size="1"></select>
            </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-1 col-sm-10">
                <input type="submit" class="btn btn-default" id="send_message" value="Se connecter"></input>
              </div>
            </div>
          </form>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th id="room1"></th>
                <th id="room2"></th>
                <th id="room3"></th>
                <th id="room4"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><div id="users_room1" class="list_users"></div></td>
                <td><div id="users_room2" class="list_users"></div></td>
                <td><div id="users_room3" class="list_users"></div></td>
                <td><div id="users_room4" class="list_users"></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>
